/* Login.css */

/* Styles for the entire login container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
  background-image: url('../../public/background3.jpg');
}

/* Styles for the form */
.login-form {
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.596);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles for form elements */
.login-form h2 {
  text-align: center;
  color: #333;
}

.login-form input {
  width: 100%; 
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
}


/* Style for the button */
.login-form button {
  width: 100%; 
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box; 
  margin-top: 30px; /* Optional: Add a margin at the top for spacing */
  margin-bottom: 30px;
}


.login-form button:hover {
  background-color: #0056b3;
}
